* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-image: url("/assets/melbourne.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
}


.navbar-container {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    z-index: 1;
}

.logo-container {
    float: left;
}

.e-logo {
    font-family: "BatmanForeverAlternate", sans-serif;
    font-size: 1.9rem;
    padding: 10px;
    font-weight: bold;
    text-shadow: 5px 5px 5px #333737;
}

.e-logo p {
    margin: 0;
    margin-left: 10px;
}

.botones {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.botones li {
    margin-right: 10px;
}

.botones a {
    color: rgb(42, 42, 42);
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 7px 11px;
    background-color: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(1px);
    box-shadow: #343536;
    border-radius: 1px;
    font-family: 'Roboto', sans-serif;
}

.botones a:hover {
    background-color: #343536;
    color: #fff;
}

/* Hero Section */
.hero-container {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    height: 100vh;
    background-image: url('/assets/hero2.png');
    background-size: cover;
    background-position: center;
    width: 75%;
    margin: 0 auto;
}

#inicio {
    position: relative;
    width: 100%;
    height: 100%;
}

.inner-container {
    text-align: center;
    color: #FFFFFF;
}


#explora h1 {
    font-family: sans-serif;
    font-size: 1.78em;
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
}

#explora form {
    margin-bottom: 15px;
}

#explora p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    font-style: italic;
    color: rgb(255, 255, 255);
    margin-top: 10px;
}

.leer {
    background-color: #4B0082;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    padding: 10px 20px;
    cursor: pointer;
}

.texto-explora {
    font-size: 1.5em;
    font-weight: bold;
}





.leer:hover {
    background-color: rgb(40, 13, 65);
}

.cards {
    width: 75%;
    margin: auto;
    display: flex;
    gap: 1px;
    padding-top: 20px;
}

.card {
    position: relative;
    display: inline-block;
    width: 25%;
    padding: 9px;
    margin: 1%;
    border: 1px solid black;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(3, 32, 51, 0.8);
    backdrop-filter: blur(1rem);
    border: .1rem rgba(255, 255, 255, 0.18);
    color: rgb(235, 235, 235);
    overflow: hidden;
}

.card .card-image {
    position: relative;
    height: 0;
    padding-bottom: 120%;
    background: var(--i);
    background-size: cover;
}

.card .content-card {
    position: relative;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    transition: top 0.3s ease-in-out;
    padding-bottom: 10px;
}

.card:hover .content-card {
    top: 0;
}

.card h1 {
    font-size: 1.5em;
    margin-top: 18px;
}

.card p {
    font-size: 1em;
    margin-top: 10px;
}

.card a:link,
.card a:visited {
    color: inherit;
    text-decoration: none;
}

#noticias {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.noticias-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    width: 75%;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.noticias-container h1 {
    font-size: 2em;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
    align-self: center;
}

.twitter-container {
    max-width: 500px;
    position: relative;
    z-index: 1;
}


#proximamente {
    width: 75%;
    margin: 0 auto;
}

.proximamente-container {
    display: flex;
    flex-wrap: wrap;
}

.proximamente-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(25% - 20px);
    height: 300px;
    margin: 10px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1px);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.proximamente-card:hover {
    transform: scale(1.1);
}

.proximamente-card:hover .hover-text {
    opacity: 1;
}

.hover-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
}

.hover-text h2 {
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding: 20px;
    color: white;
}

.hover-text * {
    transition: opacity 0.3s ease-in-out;
    transition-delay: 0.3s;
}

.hover-text p {
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 20px;
    color: white;
}

.proximamente-card h2 {
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding: 20px;
    color: white;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    transition-delay: 0.3s;
}


.teffy {
    color: rgb(254, 127, 190);
}

.mayute {

    color: rgb(141, 182, 0);
}

a {
    text-decoration: none;
}

footer {
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px;
    color: white;
}




@media (max-width: 768px) {
    .navbar-container {
        height: auto;
        padding: 5px;
    }

    .logo-container {
        float: none;
        margin-bottom: 10px;
    }

    .e-logo {
        margin-right: 10px;

    }

    .botones {
        flex-direction: column;
        align-items: center;
    }

    .botones li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .cards {
        flex-wrap: wrap;
    }

    .card {
        width: 100%;
        margin: 10px 0;
    }

    .proximamente-container {
        flex-direction: column;
        align-items: center;
    }

    .proximamente-card {
        width: 100%;
    }


    .nav-icon-5 {
        width: 35px;
        height: 30px;
        margin: 10px 10px;
        position: relative;
        cursor: pointer;
        display: inline-block;
    }

    .nav-icon-5 span {
        background-color: #0e0e0e;
        position: absolute;
        border-radius: 2px;
        transition: .3s cubic-bezier(.8, .5, .2, 1.4);
        width: 100%;
        height: 4px;
        transition-duration: 500ms
    }

    .nav-icon-5 span:nth-child(1) {
        top: 0px;
        left: 0px;
    }

    .nav-icon-5 span:nth-child(2) {
        top: 13px;
        left: 0px;
        opacity: 1;
    }

    .nav-icon-5 span:nth-child(3) {
        bottom: 0px;
        left: 0px;
    }

    .nav-icon-5:not(.open):hover span:nth-child(1) {
        transform: rotate(-3deg) scaleY(1.1);
    }

    .nav-icon-5:not(.open):hover span:nth-child(2) {
        transform: rotate(3deg) scaleY(1.1);
    }

    .nav-icon-5:not(.open):hover span:nth-child(3) {
        transform: rotate(-4deg) scaleY(1.1);
    }

    .nav-icon-5.open span:nth-child(1) {
        transform: rotate(45deg);
        top: 13px;
    }

    .nav-icon-5.open span:nth-child(2) {
        opacity: 0;
    }

    .nav-icon-5.open span:nth-child(3) {
        transform: rotate(-45deg);
        top: 13px;
    }

    .botones.mostrar {
        display: none;
    }

    .botones {
        display: block;
    }

    .twitter-container {
        width: 75%;
    }
}

@media (max-width: 640px) {

    .navbar-container {
        width: 100%;
    }

    .hero-container {
        margin: 0;
        width: 100%;
        background-size: cover;
    }

    .twitter-container {
        width: 75%;
    }

    .noticias-container {
        width: 75vw;
    }

    .e-logo {
        width: 10%;
        font-size: 20px;
    }

}